# Import libraries

In [8]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pyproj import Proj, Transformer
from geopy.distance import geodesic

# Read raw data

In [2]:

# Read the CSV file
file_path = '../data/raw/df_i.csv'
df_i = pd.read_csv(file_path)



# Display the first and last 10 rows
print(df_i.head(10))
print(df_i.tail(10))

# Get info about DF
print(df_i.info())

    IncidentNumber  DateOfCall  CalYear TimeOfCall  HourOfCall  \
0  169293-30102023  2023-10-30     2023   04:04:22           4
1  056805-24042023  2023-04-24     2023   18:22:23          18
2  090104-20062023  2023-06-20     2023   14:09:10          14
3  165668-23102023  2023-10-23     2023   16:03:34          16
4  088088-17062023  2023-06-17     2023   07:21:42           7
5  159873-13102023  2023-10-13     2023   22:09:08          22
6  178198-13112023  2023-11-13     2023   15:52:44          15
7  128550-24082023  2023-08-24     2023   08:51:16           8
8  010502-22012023  2023-01-22     2023   10:01:43          10
9  029114-27022023  2023-02-27     2023   15:05:46          15

     IncidentGroup StopCodeDescription SpecialServiceType   PropertyCategory  \
0      False Alarm                 AFA                NaN           Dwelling
1  Special Service     Special Service           Flooding    Non Residential
2      False Alarm                 AFA                NaN  Other Residential
3      False Alarm                 AFA                NaN           Dwelling
4  Special Service     Special Service                RTC       Road Vehicle
5  Special Service     Special Service       Lift Release           Dwelling
6             Fire      Secondary Fire                NaN  Outdoor Structure
7  Special Service     Special Service       Lift Release           Dwelling
8             Fire        Primary Fire                NaN       Road Vehicle
9      False Alarm                 AFA                NaN           Dwelling

                                        PropertyType  ...  \
0  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
1                                    Restaurant/cafe  ...
2                        Retirement/Old Persons Home  ...
3  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
4                                 Multiple Vehicles   ...
5  Purpose Built Flats/Maisonettes - 10 or more s...  ...
6                     Small refuse/rubbish container  ...
7  Purpose Built Flats/Maisonettes - 4 to 9 storeys   ...
8                                               Car   ...
9  Purpose Built Flats/Maisonettes - 4 to 9 storeys   ...

  FirstPumpArriving_AttendanceTime FirstPumpArriving_DeployedFromStation  \
0                            266.0                                Sutton
1                            331.0                               Dowgate
2                            151.0                               Bromley
3                            339.0                               Clapham
4                            227.0                               Peckham
5                              NaN                                   NaN
6                            197.0                            Wallington
7                            485.0                          West Norwood
8                            275.0                                 Hayes
9                            233.0                            Shoreditch

  SecondPumpArriving_AttendanceTime  SecondPumpArriving_DeployedFromStation  \
0                             323.0                                  Sutton
1                               NaN                                     NaN
2                             259.0                               Lee Green
3                             452.0                                 Tooting
4                               NaN                                     NaN
5                               NaN                                     NaN
6                               NaN                                     NaN
7                               NaN                                     NaN
8                               NaN                                     NaN
9                             277.0                                  Euston

   NumStationsWithPumpsAttending NumPumpsAttending PumpCount  \
0                            1.0               2.0         2
1                            1.0               1.0         1
2                            2.0               2.0         2
3                            2.0               2.0         2
4                            1.0               1.0         1
5                            1.0               1.0         1
6                            1.0               1.0         1
7                            1.0               1.0         1
8                            1.0               1.0         1
9                            2.0               2.0         2

  PumpMinutesRounded Notional Cost (Â£) NumCalls
0                 60               388      1.0
1                 60               388      1.0
2                 60               388      1.0
3                 60               388      1.0
4                 60               388      1.0
5                 60               388      1.0
6                 60               388      1.0
7                 60               388      2.0
8                 77               467      4.0
9                 60               364      1.0

[10 rows x 39 columns]
       IncidentNumber  DateOfCall  CalYear TimeOfCall  HourOfCall  \
9990  025148-19022023  2023-02-19     2023   10:59:14          10
9991  197641-16122023  2023-12-16     2023   15:48:55          15
9992  119576-08082023  2023-08-08     2023   18:14:58          18
9993  043817-29032023  2023-03-29     2023   18:18:02          18
9994  113143-28072023  2023-07-28     2023   05:27:00           5
9995  177367-12112023  2023-11-12     2023   12:49:32          12
9996  049011-08042023  2023-04-08     2023   20:52:47          20
9997  111524-25072023  2023-07-25     2023   13:23:26          13
9998  054084-19042023  2023-04-19     2023   00:49:24           0
9999  193106-08122023  2023-12-08     2023   22:14:21          22

        IncidentGroup        StopCodeDescription  \
9990  Special Service            Special Service
9991      False Alarm  False alarm - Good intent
9992  Special Service            Special Service
9993             Fire               Primary Fire
9994      False Alarm                        AFA
9995      False Alarm                        AFA
9996      False Alarm  False alarm - Good intent
9997  Special Service            Special Service
9998      False Alarm                        AFA
9999  Special Service            Special Service

                  SpecialServiceType PropertyCategory  \
9990                        Flooding         Dwelling
9991                             NaN         Dwelling
9992            Effecting entry/exit         Dwelling
9993                             NaN         Dwelling
9994                             NaN  Non Residential
9995                             NaN  Non Residential
9996                             NaN  Non Residential
9997     Animal assistance incidents         Dwelling
9998                             NaN         Dwelling
9999  Removal of objects from people  Non Residential

                                           PropertyType  ...  \
9990     Converted Flat/Maisonettes - 3 or more storeys  ...
9991                          House - single occupancy   ...
9992  Purpose Built Flats/Maisonettes - Up to 3 stor...  ...
9993     Converted Flat/Maisonettes - 3 or more storeys  ...
9994                                   Bulk oil storage  ...
9995                                          Hospital   ...
9996                                            Prison   ...
9997  Purpose Built Flats/Maisonettes - 4 to 9 storeys   ...
9998     Converted Flat/Maisonettes - 3 or more storeys  ...
9999                                      Fire station   ...

     FirstPumpArriving_AttendanceTime FirstPumpArriving_DeployedFromStation  \
9990                            312.0                       Stoke Newington
9991                            443.0                            Hillingdon
9992                            463.0                                Bexley
9993                            325.0                            Paddington
9994                            338.0                             Willesden
9995                              NaN                                   NaN
9996                            387.0                               Feltham
9997                            139.0                            Kensington
9998                            353.0                              Kingston
9999                             51.0                                Bexley

     SecondPumpArriving_AttendanceTime  \
9990                             364.0
9991                               NaN
9992                               NaN
9993                             369.0
9994                               NaN
9995                               NaN
9996                             523.0
9997                               NaN
9998                             369.0
9999                               NaN

      SecondPumpArriving_DeployedFromStation  NumStationsWithPumpsAttending  \
9990                               Tottenham                            2.0
9991                                     NaN                            1.0
9992                                     NaN                            1.0
9993                              Paddington                            1.0
9994                                     NaN                            1.0
9995                                     NaN                            1.0
9996                              Twickenham                            2.0
9997                                     NaN                            1.0
9998                                Kingston                            1.0
9999                                     NaN                            1.0

     NumPumpsAttending PumpCount PumpMinutesRounded Notional Cost (Â£) NumCalls
9990               2.0         2                 60               364      2.0
9991               1.0         1                 60               388      1.0
9992               1.0         1                 60               388      1.0
9993               2.0         2                 60               364      1.0
9994               1.0         1                 60               388      1.0
9995               1.0         1                 60               388      2.0
9996               3.0         3                 60               388      2.0
9997               1.0         1                 60               388      1.0
9998               2.0         2                 60               388      1.0
9999               1.0         1                 60               388      1.0

[10 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 39 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   IncidentNumber                          10000 non-null  object
 1   DateOfCall                              10000 non-null  object
 2   CalYear                                 10000 non-null  int64
 3   TimeOfCall                              10000 non-null  object
 4   HourOfCall                              10000 non-null  int64
 5   IncidentGroup                           10000 non-null  object
 6   StopCodeDescription                     10000 non-null  object
 7   SpecialServiceType                      3731 non-null   object
 8   PropertyCategory                        10000 non-null  object
 9   PropertyType                            10000 non-null  object
 10  AddressQualifier                        10000 non-null  object
 11  Postcode_full                           4168 non-null   object
 12  Postcode_district                       10000 non-null  object
 13  UPRN                                    10000 non-null  int64
 14  USRN                                    10000 non-null  int64
 15  IncGeo_BoroughCode                      10000 non-null  object
 16  IncGeo_BoroughName                      10000 non-null  object
 17  ProperCase                              10000 non-null  object
 18  IncGeo_WardCode                         9980 non-null   object
 19  IncGeo_WardName                         9980 non-null   object
 20  IncGeo_WardNameNew                      9980 non-null   object
 21  Easting_m                               4168 non-null   float64
 22  Northing_m                              4168 non-null   float64
 23  Easting_rounded                         10000 non-null  int64
 24  Northing_rounded                        10000 non-null  int64
 25  Latitude                                4168 non-null   float64
 26  Longitude                               4168 non-null   float64
 27  FRS                                     10000 non-null  object
 28  IncidentStationGround                   10000 non-null  object
 29  FirstPumpArriving_AttendanceTime        9473 non-null   float64
 30  FirstPumpArriving_DeployedFromStation   9473 non-null   object
 31  SecondPumpArriving_AttendanceTime       3642 non-null   float64
 32  SecondPumpArriving_DeployedFromStation  3642 non-null   object
 33  NumStationsWithPumpsAttending           9899 non-null   float64
 34  NumPumpsAttending                       9899 non-null   float64
 35  PumpCount                               10000 non-null  int64
 36  PumpMinutesRounded                      10000 non-null  int64
 37  Notional Cost (Â£)                       10000 non-null  int64
 38  NumCalls                                10000 non-null  float64
dtypes: float64(9), int64(9), object(21)
memory usage: 3.0+ MB
None

# Keep rows important to the modle

In [3]:
import pandas as pd

# File path to the CSV file
file_path = '../data/raw/df_i.csv'

# Read the DataFrame from the CSV file
df_i = pd.read_csv(file_path)

# List of desired columns
columns_to_keep = ['IncidentNumber', 'DateOfCall', 'CalYear', 'HourOfCall',
                   'IncGeo_BoroughName', 'Easting_m', 'Northing_m',
                   'Easting_rounded', 'Northing_rounded', 'Latitude',
                   'Longitude', 'FirstPumpArriving_AttendanceTime',
                   'FirstPumpArriving_DeployedFromStation']

# Select the desired columns
df_i2 = df_i[columns_to_keep].copy()  # Create a copy of the DataFrame

# Rename columns
df_i2.rename(columns={'FirstPumpArriving_AttendanceTime': 'AttendanceTime',
                      'FirstPumpArriving_DeployedFromStation': 'DeployedFromStation'}, inplace=True)

# Display the first few rows of the DataFrame
print(df_i2.head())

# Get info about DF
print(df_i2.info())

    IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
0  169293-30102023  2023-10-30     2023           4             SUTTON
1  056805-24042023  2023-04-24     2023          18          SOUTHWARK
2  090104-20062023  2023-06-20     2023          14            BROMLEY
3  165668-23102023  2023-10-23     2023          16            LAMBETH
4  088088-17062023  2023-06-17     2023           7          SOUTHWARK

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
0        NaN         NaN           525650            164350        NaN
1   532485.0    179908.0           532450            179950  51.502589
2   539590.0    170478.0           539550            170450  51.416141
3        NaN         NaN           529550            173450        NaN
4   532115.0    176991.0           532150            176950  51.476465

   Longitude  AttendanceTime DeployedFromStation
0        NaN           266.0              Sutton
1  -0.092580           331.0             Dowgate
2   0.006002           151.0             Bromley
3        NaN           339.0             Clapham
4  -0.098995           227.0             Peckham
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4168 non-null   float64
 6   Northing_m           4168 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4168 non-null   float64
 10  Longitude            4168 non-null   float64
 11  AttendanceTime       9473 non-null   float64
 12  DeployedFromStation  9473 non-null   object
dtypes: float64(5), int64(4), object(4)
memory usage: 1015.8+ KB
None

# Check wether 'IncidentNumber' is unique

In [4]:
# Check wether 'IncidentNumber' is unique
unique_ids_count = df_i2['IncidentNumber'].nunique()
print(f"Number of unique IncidentNumbers: {unique_ids_count}")

Number of unique IncidentNumbers: 10000

# Convert geodata and add columns

In [9]:

# Convert geodata and add columns


# Definition of the Ordnance Survey Grid Reference Project (OSGB)
osgb_proj = Transformer.from_crs("EPSG:27700", "EPSG:4326")   # EPSG code 27700 corresponds to OSGB (Ordnance Survey Grid)

# Define a function to convert UTM coordinates to WGS84
def utm_to_wgs84(easting, northing):
    lat, lon = osgb_proj.transform(easting, northing)
    return lat, lon

# Define a function to apply UTM to WGS84 conversion to each row and add the results as new columns
def utm_to_wgs84_wrapper(row):
    lat_cal, long_cal = utm_to_wgs84(row['Easting_m'], row['Northing_m'])
    lat_cal_r, long_cal_r = utm_to_wgs84(row['Easting_rounded'], row['Northing_rounded'])
    return pd.Series({'lat_cal': lat_cal, 'long_cal': long_cal, 'lat_cal_r': lat_cal_r, 'long_cal_r': long_cal_r})

# Apply the conversion function to each row and add the results as new columns
with pd.option_context('mode.chained_assignment', None):  # Suppress SettingWithCopyWarning
    df_i2[['lat_cal', 'long_cal', 'lat_cal_r', 'long_cal_r']] = df_i2.apply(utm_to_wgs84_wrapper, axis=1)

# Display the updated DataFrame
print(df_i2.head())

    IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
0  169293-30102023  2023-10-30     2023           4             SUTTON
1  056805-24042023  2023-04-24     2023          18          SOUTHWARK
2  090104-20062023  2023-06-20     2023          14            BROMLEY
3  165668-23102023  2023-10-23     2023          16            LAMBETH
4  088088-17062023  2023-06-17     2023           7          SOUTHWARK

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
0        NaN         NaN           525650            164350        NaN
1   532485.0    179908.0           532450            179950  51.502589
2   539590.0    170478.0           539550            170450  51.416141
3        NaN         NaN           529550            173450        NaN
4   532115.0    176991.0           532150            176950  51.476465

   Longitude  AttendanceTime DeployedFromStation    lat_cal  long_cal  \
0        NaN           266.0              Sutton        inf       inf
1  -0.092580           331.0             Dowgate  51.502588 -0.092606
2   0.006002           151.0             Bromley  51.416141  0.005975
3        NaN           339.0             Clapham        inf       inf
4  -0.098995           227.0             Peckham  51.476460 -0.099024

   lat_cal_r  long_cal_r
0  51.364326   -0.196542
1  51.502973   -0.093094
2  51.415899    0.005389
3  51.445231   -0.137233
4  51.476084   -0.098536

# Read the CSV file stations_boroughs

In [10]:
# Read the CSV file stations_boroughs
file_path = '../data/external/stations_boroughs_1.csv'
df_stations_boroughs = pd.read_csv(file_path)

# Display the first and last 10 rows
print(df_stations_boroughs.head(10))

# Get info about DF
print(df_stations_boroughs.info())

     borough  bor_sqkm       pop  pop_per_sqkm_bor  in_o_out         reg  \
0     Camden     21.80  210390.0            9651.0       1.0  north_west
1     Camden     21.80  210390.0            9651.0       1.0  north_west
2     Camden     21.80  210390.0            9651.0       1.0  north_west
3  Greenwich     47.35  289254.0            6109.0       1.0  south_east
4  Greenwich     47.35  289254.0            6109.0       1.0  south_east
5  Greenwich     47.35  289254.0            6109.0       1.0  south_east
6  Greenwich     47.35  289254.0            6109.0       1.0  south_east
7  Greenwich     47.35  289254.0            6109.0       1.0  south_east
8    Hackney     19.06  259956.0           13639.0       1.0  north_east
9    Hackney     19.06  259956.0           13639.0       1.0  north_east

   borough.1            stat c_stat  \
0     Camden          Euston    A23
1     Camden   West Hampstad    A41
2     Camden    Kentish town    A43
3  Greenwich          Eltham    E30
4  Greenwich       Lee Green    E29
5  Greenwich       Greenwich    E22
6  Greenwich  East Greenwich    E23
7  Greenwich       Plumstead    E25
8    Hackney      Shoreditch    F24
9    Hackney        Homerton    F28

                                           adress        lat      long  \
0                        172 Euston Road, NW1 2DH  51.527760 -0.130790
1                     327B West End Lane, NW6 1RS  51.551860 -0.192780
2                  20 Highgate Rd, London NW5 1NS  51.552900 -0.141630
3                     266 Eltham High St, SE9 1BA  51.450695  0.059444
4                         9 Eltham Road, Se12 8ES  51.456418  0.012690
5                      4 Blisset Street, SE10 8UP  51.473806 -0.013408
6                      325 Woolwich Road, SE7 7RF  51.486904  0.022305
7               Lakedale Road Plumstead, SE12 8ES  51.487428  0.091357
8                        235 Old Street, EC1V 9EY  51.526625 -0.084321
9  97 Homerton High Street Hackney, London E9 6DL  51.548634 -0.043184

                                                html  pop_per_stat  \
0   https://www.london-fire.gov.uk/community/camden/         70130
1   https://www.london-fire.gov.uk/community/camden/         70130
2   https://www.london-fire.gov.uk/community/camden/         70130
3  https://www.london-fire.gov.uk/community/green...         57851
4  https://www.london-fire.gov.uk/community/green...         57851
5  https://www.london-fire.gov.uk/community/green...         57851
6  https://www.london-fire.gov.uk/community/green...         57851
7  https://www.london-fire.gov.uk/community/green...         57851
8  https://www.london-fire.gov.uk/community/hackney/         86652
9  https://www.london-fire.gov.uk/community/hackney/         86652

   pop_per_sqkm_stat  area_sqkm_stat  distance_stat
0               3217               7    2299.648380
1               3217               7    6719.779235
2               3217               7    5179.728464
3               1222               9   14395.991772
4               1222               9   11236.034918
5               1222               9    8733.466474
6               1222               9   10620.047077
7               1222               9   15319.134876
8               4546               6    3690.581475
9               4546               6    7441.716420
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   borough            103 non-null    object
 1   bor_sqkm           103 non-null    float64
 2   pop                103 non-null    float64
 3   pop_per_sqkm_bor   103 non-null    float64
 4   in_o_out           103 non-null    float64
 5   reg                103 non-null    object
 6   borough.1          103 non-null    object
 7   stat               103 non-null    object
 8   c_stat             103 non-null    object
 9   adress             103 non-null    object
 10  lat                103 non-null    float64
 11  long               103 non-null    float64
 12  html               103 non-null    object
 13  pop_per_stat       103 non-null    int64
 14  pop_per_sqkm_stat  103 non-null    int64
 15  area_sqkm_stat     103 non-null    int64
 16  distance_stat      103 non-null    float64
dtypes: float64(7), int64(3), object(7)
memory usage: 13.8+ KB
None

# Merge with stations_boroughs to attach geoinfo of the stations

In [11]:
# Merge based on the 'FirstPumpArriving_DeployedFromStation' column
df_mi2 = pd.merge(
    df_i2,  # Left DataFrame
    df_stations_boroughs[['stat', 'lat', 'long', 'bor_sqkm', 'pop_per_stat', 'distance_stat']],
    left_on='DeployedFromStation',  # Column to merge on in df_i2
    right_on='stat',  # Column to merge on in stations_boroughs
    how='left'  # Type of merge (in this case, left)
)

# Display the first few rows of the merged DataFrame
print(df_mi2.head())
print(df_mi2.info())

    IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
0  169293-30102023  2023-10-30     2023           4             SUTTON
1  056805-24042023  2023-04-24     2023          18          SOUTHWARK
2  090104-20062023  2023-06-20     2023          14            BROMLEY
3  165668-23102023  2023-10-23     2023          16            LAMBETH
4  088088-17062023  2023-06-17     2023           7          SOUTHWARK

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  ...  \
0        NaN         NaN           525650            164350        NaN  ...
1   532485.0    179908.0           532450            179950  51.502589  ...
2   539590.0    170478.0           539550            170450  51.416141  ...
3        NaN         NaN           529550            173450        NaN  ...
4   532115.0    176991.0           532150            176950  51.476465  ...

     lat_cal  long_cal  lat_cal_r  long_cal_r     stat        lat      long  \
0        inf       inf  51.364326   -0.196542   Sutton  51.369045 -0.211193
1  51.502588 -0.092606  51.502973   -0.093094  Dowgate  51.510003 -0.090206
2  51.416141  0.005975  51.415899    0.005389  Bromley  51.407039  0.017156
3        inf       inf  51.445231   -0.137233  Clapham  51.464886 -0.143518
4  51.476460 -0.099024  51.476084   -0.098536  Peckham  51.474050 -0.077992

  bor_sqkm  pop_per_stat  distance_stat
0    43.85      104758.0   16433.216550
1     2.90        8618.0    2602.124658
2   150.15       82458.0   14989.379218
3    26.82       63500.0    4838.483662
4    28.85      102125.0    5037.216064

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4168 non-null   float64
 6   Northing_m           4168 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4168 non-null   float64
 10  Longitude            4168 non-null   float64
 11  AttendanceTime       9473 non-null   float64
 12  DeployedFromStation  9473 non-null   object
 13  lat_cal              10000 non-null  float64
 14  long_cal             10000 non-null  float64
 15  lat_cal_r            10000 non-null  float64
 16  long_cal_r           10000 non-null  float64
 17  stat                 9012 non-null   object
 18  lat                  9012 non-null   float64
 19  long                 9012 non-null   float64
 20  bor_sqkm             9012 non-null   float64
 21  pop_per_stat         9012 non-null   float64
 22  distance_stat        9012 non-null   float64
dtypes: float64(14), int64(4), object(5)
memory usage: 1.8+ MB
None

# Example data records when 'station' is NaN

In [12]:
# BeispieldatensÃ¤tze, wenn 'station' NaN ist
nan_station_records = df_mi2[df_mi2['stat'].isna()]

print("Example data records when 'stat' is NaN:")
print(nan_station_records)

Example data records when 'stat' is NaN:
       IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
5     159873-13102023  2023-10-13     2023          22             NEWHAM
13    131680-29082023  2023-08-29     2023          17             CAMDEN
23    189694-03122023  2023-12-03     2023           2              BRENT
42    090249-20062023  2023-06-20     2023          19            HACKNEY
63    032705-06032023  2023-03-06     2023          23             CAMDEN
...               ...         ...      ...         ...                ...
9960  019736-08022023  2023-02-08     2023          20            CROYDON
9973  049571-09042023  2023-04-09     2023          22            CROYDON
9977  057209-25042023  2023-04-25     2023          14              BRENT
9979  039706-20032023  2023-03-20     2023          22             CAMDEN
9995  177367-12112023  2023-11-12     2023          12         HILLINGDON

      Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  \
5           NaN         NaN           541450            183850        NaN
13     526875.0    184121.0           526850            184150  51.541737
23     519621.0    186500.0           519650            186550  51.564707
42          NaN         NaN           532550            187850        NaN
63     527407.0    185069.0           527450            185050  51.550139
...         ...         ...              ...               ...        ...
9960   533517.0    168111.0           533550            168150  51.396331
9973        NaN         NaN           531650            166950        NaN
9977        NaN         NaN           518550            186250        NaN
9979        NaN         NaN           527550            185350        NaN
9995   505166.0    190856.0           505150            190850  51.606732

      ...    lat_cal  long_cal  lat_cal_r  long_cal_r  stat  lat  long  \
5     ...        inf       inf  51.535839    0.038054   NaN  NaN   NaN
13    ...  51.541735 -0.171871  51.542001   -0.172221   NaN  NaN   NaN
23    ...  51.564698 -0.275612  51.565142   -0.275177   NaN  NaN   NaN
42    ...        inf       inf  51.573942   -0.088682   NaN  NaN   NaN
63    ...  51.550135 -0.163861  51.549954   -0.163248   NaN  NaN   NaN
...   ...        ...       ...        ...         ...   ...  ...   ...
9960  ...  51.396331 -0.082194  51.396674   -0.081705   NaN  NaN   NaN
9973  ...        inf       inf  51.386334   -0.109445   NaN  NaN   NaN
9977  ...        inf       inf  51.562678   -0.291141   NaN  NaN   NaN
9979  ...        inf       inf  51.552628   -0.161698   NaN  NaN   NaN
9995  ...  51.606729 -0.482768  51.606678   -0.483001   NaN  NaN   NaN

     bor_sqkm  pop_per_stat  distance_stat
5         NaN           NaN            NaN
13        NaN           NaN            NaN
23        NaN           NaN            NaN
42        NaN           NaN            NaN
63        NaN           NaN            NaN
...       ...           ...            ...
9960      NaN           NaN            NaN
9973      NaN           NaN            NaN
9977      NaN           NaN            NaN
9979      NaN           NaN            NaN
9995      NaN           NaN            NaN

[988 rows x 23 columns]

# Calculate and add 'distance' btween incident and firestation

In [13]:

# Calculate and add 'distance' btween incident and firestation

from geopy.distance import geodesic

def calculate_distance(row):
    # Check if latitude values are within the expected range
    if pd.notna(row['Latitude']) and pd.notna(row['lat']):
        valid_latitudes = all(49 <= lat <= 53 for lat in [row['Latitude'], row['lat']])
        if not valid_latitudes:
            return None

    if pd.notna(row['Latitude']) and pd.notna(row['Longitude']) and pd.notna(row['lat']) and pd.notna(row['long']):
        # If both sets of coordinates are present, calculate the distance
        coord1 = (row['Latitude'], row['Longitude'])
        coord2 = (row['lat'], row['long'])
        return geodesic(coord1, coord2).meters
    elif pd.notna(row['lat_cal_r']) and pd.notna(row['long_cal_r']) and pd.notna(row['lat']) and pd.notna(row['long']):
        # If 'Latitude' and 'Longitude' are not present, use 'lat_cal_r' and 'long_cal_r'
        coord1 = (row['lat_cal_r'], row['long_cal_r'])
        coord2 = (row['lat'], row['long'])
        return geodesic(coord1, coord2).meters
    else:
        return 0  # Replace NaN with 0 for distance

# Calculate and add 'distance' column
df_mi2['distance'] = df_mi2.apply(calculate_distance, axis=1)

# Display the first few lines of the updated DataFrame
print(df_mi2.head())

    IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
0  169293-30102023  2023-10-30     2023           4             SUTTON
1  056805-24042023  2023-04-24     2023          18          SOUTHWARK
2  090104-20062023  2023-06-20     2023          14            BROMLEY
3  165668-23102023  2023-10-23     2023          16            LAMBETH
4  088088-17062023  2023-06-17     2023           7          SOUTHWARK

   Easting_m  Northing_m  Easting_rounded  Northing_rounded   Latitude  ...  \
0        NaN         NaN           525650            164350        NaN  ...
1   532485.0    179908.0           532450            179950  51.502589  ...
2   539590.0    170478.0           539550            170450  51.416141  ...
3        NaN         NaN           529550            173450        NaN  ...
4   532115.0    176991.0           532150            176950  51.476465  ...

   long_cal  lat_cal_r long_cal_r     stat        lat      long  bor_sqkm  \
0       inf  51.364326  -0.196542   Sutton  51.369045 -0.211193     43.85
1 -0.092606  51.502973  -0.093094  Dowgate  51.510003 -0.090206      2.90
2  0.005975  51.415899   0.005389  Bromley  51.407039  0.017156    150.15
3       inf  51.445231  -0.137233  Clapham  51.464886 -0.143518     26.82
4 -0.099024  51.476084  -0.098536  Peckham  51.474050 -0.077992     28.85

  pop_per_stat  distance_stat     distance
0     104758.0   16433.216550  1147.511520
1       8618.0    2602.124658   841.173772
2      82458.0   14989.379218  1275.739830
3      63500.0    4838.483662  2229.987788
4     102125.0    5037.216064  1483.750103

[5 rows x 24 columns]

In [53]:
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_m            4120 non-null   float64
 6   Northing_m           4120 non-null   float64
 7   Easting_rounded      10000 non-null  int64
 8   Northing_rounded     10000 non-null  int64
 9   Latitude             4120 non-null   float64
 10  Longitude            4120 non-null   float64
 11  AttendanceTime       9476 non-null   float64
 12  DeployedFromStation  9476 non-null   object
 13  lat_cal              10000 non-null  float64
 14  long_cal             10000 non-null  float64
 15  lat_cal_r            10000 non-null  float64
 16  long_cal_r           10000 non-null  float64
 17  stat                 8999 non-null   object
 18  lat                  8999 non-null   float64
 19  long                 8999 non-null   float64
 20  bor_sqkm             8999 non-null   float64
 21  pop_per_stat         8999 non-null   float64
 22  distance_stat        8999 non-null   float64
 23  distance             9977 non-null   float64
dtypes: float64(15), int64(4), object(5)
memory usage: 1.9+ MB
None

# Delete 'Easting_m',  ' Northing_m', 'Latitude', 'Longitude'

In [14]:
# Delete 'Easting_m',  ' Northing_m', 'Latitude', 'Longitude'

# List of columns to remove
columns_to_remove = ['Easting_m', 'Northing_m', 'Latitude', 'Longitude']

# Remove the columns from the DataFrame
df_mi2 = df_mi2.drop(columns=columns_to_remove)

# Display the updated DataFrame
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       10000 non-null  object
 1   DateOfCall           10000 non-null  object
 2   CalYear              10000 non-null  int64
 3   HourOfCall           10000 non-null  int64
 4   IncGeo_BoroughName   10000 non-null  object
 5   Easting_rounded      10000 non-null  int64
 6   Northing_rounded     10000 non-null  int64
 7   AttendanceTime       9473 non-null   float64
 8   DeployedFromStation  9473 non-null   object
 9   lat_cal              10000 non-null  float64
 10  long_cal             10000 non-null  float64
 11  lat_cal_r            10000 non-null  float64
 12  long_cal_r           10000 non-null  float64
 13  stat                 9012 non-null   object
 14  lat                  9012 non-null   float64
 15  long                 9012 non-null   float64
 16  bor_sqkm             9012 non-null   float64
 17  pop_per_stat         9012 non-null   float64
 18  distance_stat        9012 non-null   float64
 19  distance             9982 non-null   float64
dtypes: float64(11), int64(4), object(5)
memory usage: 1.6+ MB
None

# Remove all rows with NaN values

In [15]:
# Remove all rows with NaN values
df_mi2 = df_mi2.dropna()

# Display the updated DataFrame
print(df_mi2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8994 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IncidentNumber       8994 non-null   object
 1   DateOfCall           8994 non-null   object
 2   CalYear              8994 non-null   int64
 3   HourOfCall           8994 non-null   int64
 4   IncGeo_BoroughName   8994 non-null   object
 5   Easting_rounded      8994 non-null   int64
 6   Northing_rounded     8994 non-null   int64
 7   AttendanceTime       8994 non-null   float64
 8   DeployedFromStation  8994 non-null   object
 9   lat_cal              8994 non-null   float64
 10  long_cal             8994 non-null   float64
 11  lat_cal_r            8994 non-null   float64
 12  long_cal_r           8994 non-null   float64
 13  stat                 8994 non-null   object
 14  lat                  8994 non-null   float64
 15  long                 8994 non-null   float64
 16  bor_sqkm             8994 non-null   float64
 17  pop_per_stat         8994 non-null   float64
 18  distance_stat        8994 non-null   float64
 19  distance             8994 non-null   float64
dtypes: float64(11), int64(4), object(5)
memory usage: 1.4+ MB
None

# Calculate target variable

In [16]:
# Convert 'AttendanceTime' to minutes and then classify into time intervals
df_mi2['AttendanceTimeClasses3'] = pd.cut(df_mi2['AttendanceTime'] / 60, bins=[0, 3, 6, 9, 12, 15, float('inf')], labels=['0-3min', '3-6min', '6-9min', '9-12min', '12-15min', '> 15min'])

# Display the updated DataFrame
print(df_mi2.head())
print(df_mi2.info())

    IncidentNumber  DateOfCall  CalYear  HourOfCall IncGeo_BoroughName  \
0  169293-30102023  2023-10-30     2023           4             SUTTON
1  056805-24042023  2023-04-24     2023          18          SOUTHWARK
2  090104-20062023  2023-06-20     2023          14            BROMLEY
3  165668-23102023  2023-10-23     2023          16            LAMBETH
4  088088-17062023  2023-06-17     2023           7          SOUTHWARK

   Easting_rounded  Northing_rounded  AttendanceTime DeployedFromStation  \
0           525650            164350           266.0              Sutton
1           532450            179950           331.0             Dowgate
2           539550            170450           151.0             Bromley
3           529550            173450           339.0             Clapham
4           532150            176950           227.0             Peckham

     lat_cal  ...  lat_cal_r  long_cal_r     stat        lat      long  \
0        inf  ...  51.364326   -0.196542   Sutton  51.369045 -0.211193
1  51.502588  ...  51.502973   -0.093094  Dowgate  51.510003 -0.090206
2  51.416141  ...  51.415899    0.005389  Bromley  51.407039  0.017156
3        inf  ...  51.445231   -0.137233  Clapham  51.464886 -0.143518
4  51.476460  ...  51.476084   -0.098536  Peckham  51.474050 -0.077992

   bor_sqkm  pop_per_stat  distance_stat     distance  AttendanceTimeClasses3
0     43.85      104758.0   16433.216550  1147.511520                  3-6min
1      2.90        8618.0    2602.124658   841.173772                  3-6min
2    150.15       82458.0   14989.379218  1275.739830                  0-3min
3     26.82       63500.0    4838.483662  2229.987788                  3-6min
4     28.85      102125.0    5037.216064  1483.750103                  3-6min

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8994 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IncidentNumber          8994 non-null   object
 1   DateOfCall              8994 non-null   object
 2   CalYear                 8994 non-null   int64
 3   HourOfCall              8994 non-null   int64
 4   IncGeo_BoroughName      8994 non-null   object
 5   Easting_rounded         8994 non-null   int64
 6   Northing_rounded        8994 non-null   int64
 7   AttendanceTime          8994 non-null   float64
 8   DeployedFromStation     8994 non-null   object
 9   lat_cal                 8994 non-null   float64
 10  long_cal                8994 non-null   float64
 11  lat_cal_r               8994 non-null   float64
 12  long_cal_r              8994 non-null   float64
 13  stat                    8994 non-null   object
 14  lat                     8994 non-null   float64
 15  long                    8994 non-null   float64
 16  bor_sqkm                8994 non-null   float64
 17  pop_per_stat            8994 non-null   float64
 18  distance_stat           8994 non-null   float64
 19  distance                8994 non-null   float64
 20  AttendanceTimeClasses3  8994 non-null   category
dtypes: category(1), float64(11), int64(4), object(5)
memory usage: 1.4+ MB
None

# Save processed file in ../data/processed/

In [57]:
# Save processed file in ../data/processed/

# File path to save the processed CSV file
output_file_path = '../data/processed/df_mi5.csv'

# Save the DataFrame as a CSV file
df_mi2.to_csv(output_file_path, index=False)